<div class="app-left-menu">
    <mat-nav-list>
        <ng-container *ngFor="let elemento of data">
            <mat-list-item (click)="onOption(elemento)" class="elemento">
                <mat-icon matListIcon>
                    {{ elemento.icon }}
                </mat-icon>
                <a matLine>{{ elemento.label }}</a>
            </mat-list-item>
            <mat-list-item class="subitem elemento"
                (click)="onOption(child)"
                *ngFor="let child of elemento.children">
                <mat-icon matListIcon>
                    {{ child.icon }}
                </mat-icon>
                <a matLine>{{ child.label }}</a>
            </mat-list-item>
        </ng-container>
    </mat-nav-list>
</div>