<mat-sidenav-container class="sidenav-container">
    <mat-sidenav [fixedInViewport]="true" fixedBottomGap="0" fixedTopGap="0" mode="push">
        <div class="mat-sidenav-content">
            <ly-left-menu [data]="menuLeft" (option)="onOption($event)"></ly-left-menu>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="mat-elevation-z6">
            <ly-header class="header-top"
                (openMenuLeft)="openMenuLeft()"
                (collapseHeader)="collapseHeader($event)"
                (action)="onAction($event)"
                [messages]="messages"
                [cliente]="cliente"
                [logged]="logged"
                [image]="profileImage">
                <ly-profile-card
                    [data]="profile"
                    [minimized]="false"
                    (option)="profileCardOption($event)"
                    (closeSession)="closeSession($event)"
                    (editImage)="onEditImage()"
                    [image]="profileImage">
                </ly-profile-card>
            </ly-header>
        </mat-toolbar>
        <section [ngClass]="{'app-content': true}">
            <button (click)="emulateLogin()" mat-raised-button color="accent" style="margin: 2em 0 0 2em;">
                Emulate Login/Logout
            </button>
            <mat-form-field>
                <mat-label>Select a profile image</mat-label>
                <mat-select [(value)]="profileImage">
                    <mat-option>None</mat-option>
                    <mat-option value="url('https://www.pngfind.com/pngs/m/443-4433119_circle-crop-profile-profile-picture-woman-circle-hd.png')">Profile 1</mat-option>
                    <mat-option value="url('https://www.lainformacion.com/files/article_default_content/uploads/2018/03/20/5ab12ab49dd60.jpeg')">Profile 2</mat-option>
                    <mat-option value="url('https://cdn.pixabay.com/photo/2015/07/15/07/13/homeless-845752_960_720.jpg')">Profile 3</mat-option>
                    <mat-option value="url('https://www.blogdelfotografo.com/wp-content/uploads/2014/04/Clave-baja_Baris-Cihan.jpg')">Profile 4</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-slider thumbLabel tickInterval="1" min="0" max="10" [value]="size" (change)="setSize($event)"
                class="slide-size"></mat-slider>
            <app-body [size]="size"></app-body>
        </section>
    </mat-sidenav-content>
</mat-sidenav-container>