.sidenav-container {
    .app-content {
        padding-top: 56px;
        min-height: 100vh;
    }

    mat-sidenav {
        background-color: rgb(212, 212, 167);
        width: 350px;

        .mat-sidenav-content {
            padding: 0.5em;
        }
    }

    mat-toolbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }

    .mat-toolbar {
        background-color: #2763FF;
        background-image: linear-gradient(130deg, rgb(19, 19, 167), #2763FF);
    }

    .header-top {
        width: 100%;
    }

    .slide-size {
        width: 50%;
        margin: 0 2em;
    }
}