<div class="app-header" fxLayout="column" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="space-between start" class="header-top">
        <button mat-fab color="primary" (click)="onOpenMenuLeft()">
            <i class="material-icons">
                menu
            </i>
        </button>
        <div fxLayout="row" fxLayoutAlign="start center" class="cliente"
            [ngStyle]="{'background-color': cliente.estilos.colorFondo}" *ngIf="logged">
            <div>
                <img src="{{ cliente.logo }}">
            </div>
            <span *ngIf="cliente.nombre.length>0" class="title"
                [ngStyle]="{'color': cliente.estilos.colorTexto}">
                {{ cliente.nombre }}
            </span>
        </div>
        <div *ngIf="!logged">
            <img src="assets/pas2.png" alt="">
        </div>
        <button  *ngIf="messages===0 && logged"
            mat-fab color="primary"
            [satPopoverAnchor]="contactPopover"
            (click)="contactPopover.toggle()">
            <div *ngIf="image"
                mat-card-avatar
                class="avatar-header-image"
                [ngStyle]="{'background-image': image}">
            </div>
            <i *ngIf="!image" class="material-icons">
                person
            </i>
        </button>
        <button *ngIf="messages>=1 && logged"
            mat-fab
            color="primary"
            [satPopoverAnchor]="contactPopover"
            (click)="contactPopover.toggle()"
            [matBadge]="messages"
            matBadgeColor="warn"
            [matBadgePosition]="position1">
            <div *ngIf="image"
                mat-card-avatar
                class="avatar-header-image"
                [ngStyle]="{'background-image': image}">
            </div>
            <i *ngIf="!image" class="material-icons">
                person
            </i>
        </button>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em" class="botones" *ngIf="!logged">
            <button mat-flat-button (click)="onAction('login')">Ingresar</button>
            <button mat-raised-button color="accent" (click)="onAction('registroFuncionario')">Registro</button>
            <!-- <button mat-raised-button color="accent" [matMenuTriggerFor]="appMenu">Registro</button> -->
        </div>
    </div>
    <!-- <mat-menu #appMenu="matMenu">
        <button mat-menu-item (click)="onAction('registroCiudadano')">
            <mat-icon>people</mat-icon>
            Como Ciudadano
        </button>
        <button mat-menu-item (click)="onAction('registroFuncionario')">
            <mat-icon>person_pin_circle</mat-icon>
            Como Funcionario
        </button>
    </mat-menu> -->
    <sat-popover verticalAlign="below" #contactPopover hasBackdrop>
        <ng-content select="ly-profile-card"></ng-content>
    </sat-popover>
</div>