.app-header {
    .cliente {
        border-radius: 10px;
        padding: 2px;
        margin: 2px 0 0 0;
        .title {
            margin: 0 1em;
        }
        img {
            height: 40px;
            margin: 0;
            padding: 0;
        }
    }
    .btn-hide-header {
        position: absolute;
        bottom: -1em;
        right: 0.3em;
        color: white;
        background-color: #2763FF;
    }
    .header-top {
        width: 100%;
        height: 60px;
        .botones {
            margin-top: 0.6em;
        }
    }
    .avatar-header-image {
        background-size: cover;
        width: 54px;
        height: 54px;
        padding: 0;
        margin: -15px 0;
    }
}