.app-main-menu {
    color: white;
    font-size: 0.8em;
    font-weight: 400;
    cursor: pointer;
    .option {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 2px 2em 3px 2em;
        border-bottom: 3px rgba(255, 255, 255, 0.0) solid;
    }
    .option:hover {
        color: rgba(255, 255, 255, 0.6);;
        border-bottom: 3px rgba(255, 255, 255, 0.3) solid;
    }
    .active {
        border-bottom: 3px rgba(255, 255, 255, 0.7) solid;
    }
}

.icon {
    font-size: 1.2em;
}