<div *ngIf="options && options.length>0" class="app-main-menu" fxLayout="row" fxLayoutAlign="space-between end">
    <div class="option"
        [ngClass]="{'active': option.active}"
        *ngFor="let option of options"
        (click)="onClick(option)">
        <i *ngIf="compact" [matTooltip]="option.label" class="material-icons icon">
            {{ option.icon }}
        </i>
        <span *ngIf="!compact">
            {{ option.label }}
        </span>
    </div>
</div>
<!-- matRipple
        [matRippleUnbounded]="false"
        [matRippleRadius]="130" -->