<mat-card class="profile-card">
    <mat-card-header *ngIf="data && data.funcionario">
        <div mat-card-avatar class="avatar-header-image" [ngStyle]="{'background-image': image}"></div>
        <button class="add-photo" mat-icon-button (click)="onEditImage()">
            <mat-icon>add_a_photo</mat-icon>
        </button>
        <mat-card-title>
            <div>{{ data.funcionario.nombre }}</div>
        </mat-card-title>
        <mat-card-subtitle>
            <div>{{ data.funcionario.dependencia }}</div>
            <div>{{ data.funcionario.cargo }}</div>
        </mat-card-subtitle>
        <button class="exit" matTooltip="Cerrar Sesión" mat-icon-button color="accent" (click)="onCloseSession()">
            <mat-icon>power_settings_new</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content *ngIf="data.secciones && data.secciones.length > 0" class="card-content" fxLayout="column" fxLayoutAlign="start start">
        <section *ngFor="let seccion of data.secciones">
            <mat-nav-list dense *ngIf="(!minimized && seccion.tipo!=='extended') || minimized">
                <mat-list-item (click)="onOption(elemento)" class="elemento"
                    *ngFor="let elemento of seccion.elementos">
                    <mat-icon matListIcon  *ngIf="elemento.elementos>0"
                        [matBadge]="elemento.elementos"
                        matBadgePosition="below before"
                        matBadgeColor="warn">
                        {{ elemento.icon }}
                    </mat-icon>
                    <mat-icon matListIcon *ngIf="elemento.elementos===0">
                        {{ elemento.icon }}
                    </mat-icon>
                    <a matLine>{{ elemento.label }}</a>
                </mat-list-item>
            </mat-nav-list>
        </section>
    </mat-card-content>
</mat-card>