.profile-card {
    width: 300px;
    mat-card-header {
        .exit {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .card-content {
        overflow: auto;
        height: 200px;
        section {
            width: 100%;
            padding-bottom: 0.5em;
            margin-bottom: 1.0em;
            border-bottom: 1px rgb(190, 190, 190) solid;
            .elemento {
                height: 28px !important;
            }
        }
        section:last-child {
            width: 100%;
            padding-bottom: 0.5em;
            margin-bottom: 0;
            border-bottom-width: 0;
        }
    }
    .avatar-header-image {
        background-size: cover;
        width: 128px;
        height: 128px;
    }
    .add-photo {
        position: absolute;
        top: 100px;
        left: 105px;
        color: White;
        text-shadow: 2px 2px 3px rgba(50, 50, 50, 0.8);
    }
}
.mat-badge-content {
    bottom: -3px !important;
}